[class^="socicon"] {
  text-decoration: none;
  padding: 10px 10px 5px 10px;
  background: black;
  margin: 10px 3px;
  display:inline-block;
  color: white;
  float: left;
  min-width: 60px;
  text-align: center;
  transition: 0.25s ease all;
}

#quick-share {
  overflow: hidden;
}

#quick-share * {
  box-sizing: border-box;
}

.round {
  border-radius: 6px;
}

.round.socicon-facebook:hover, .socicon-facebook:hover {
  background: #3C599F;
}
.round.socicon-twitter:hover, .socicon-twitter:hover {
  background: #32CCFE;
}
.round.socicon-googleplus:hover, .socicon-googleplus:hover {
  background: #CF3D2E;
}
.round.socicon-linkedin:hover, .socicon-linkedin:hover {
  background: #0085AE;
}
.round.socicon-reddit:hover, .socicon-reddit:hover {
  background: #e74a1e;
}

.round.socicon-pinterest:hover, .socicon-pinterest:hover {
  background: #c92619;
}

.dark.socicon-facebook, .light.socicon-facebook {
  background: #3C599F;
}
.dark.socicon-twitter, .light.socicon-twitter {
  background: #32CCFE;
}
.dark.socicon-googleplus, .light.socicon-googleplus {
  background: #CF3D2E;
}
.dark.socicon-linkedin, .light.socicon-linkedin {
  background: #0085AE;
}
.dark.socicon-reddit, .light.socicon-reddit {
  background: #e74a1e;
}
.dark.socicon-pinterest, .light.socicon-pinterest {
  background: #c92619;
}

.dark.socicon-facebook:hover {
  background: scale-color(#3C599F, $lightness: -20%);
}
.dark.socicon-twitter:hover {
  background: scale-color(#32CCFE, $lightness: -20%);
}
.dark.socicon-googleplus:hover {
  background: scale-color(#CF3D2E, $lightness: -20%);
}
.dark.socicon-linkedin:hover {
  background: scale-color(#0085AE, $lightness: -20%);
}
.dark.socicon-reddit:hover {
  background: scale-color(#e74a1e, $lightness: -20%);
}
.dark.socicon-pinterest:hover {
  background: scale-color(#c92619, $lightness: -20%);
}


.light.socicon-facebook:hover {
  background: scale-color(#3C599F, $lightness: 20%);
}
.light.socicon-twitter:hover {
  background: scale-color(#32CCFE, $lightness: 20%);
}
.light.socicon-googleplus:hover {
  background: scale-color(#CF3D2E, $lightness: 20%);
}
.light.socicon-linkedin:hover {
  background: scale-color(#0085AE, $lightness: 20%);
}
.light.socicon-reddit:hover {
  background: scale-color(#e74a1e, $lightness: 20%);
}
.light.socicon-pinterest:hover {
  background: scale-color(#c92619, $lightness: 20%);
}

.taller:hover {
  transform: scaleY(1.1);
}

.wider:hover {
  transform: scaleX(1.1);
}

.rise {
  display: inline-block;
  transition-duration: 0.3s;
  transition-property: transform;
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.rise:hover {
  transform: translateY(-5px);
}

.wobble-vertical {
  display: inline-block;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.wobble-vertical:hover {
  animation-name: wobble-vertical;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes wobble-vertical {
  16.65% {
    transform: translateY(8px);
  }
  33.3% {
    transform: translateY(-6px);
  }
  49.95% {
    transform: translateY(4px);
  }
  66.6% {
    transform: translateY(-2px);
  }
  83.25% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}

.pop {
  display: inline-block;
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.pop:hover {
  animation-name: pop;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes pop {
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}